$body-bg: #f2f5fb;
$body-color: #545454;
$primary: #B2802C;
$secondary: #545454;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #595959;
$gray-800: #323E49 !default;
$gray-900: #252525;

$font-family-base: 'Avenir', Helvetica, Arial, sans-serif;
